

.erica {


font-family: Georgia, 'Times New Roman', Times, serif;





}


.aboutme
 {

    text-align: center;
margin: 150px;

}

.kuva1 {

text-align: center;
margin: 150px;

}

.jalka {

    text-align: center;

    margin: 150px;

}

.moi {


    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    text-align: center;
border: solid black;
margin-left: 25%;


}


.koira {

text-align: center;

}